{% extends "layout.njk" %}

{% block content %}

<div class="container-fluid text-center">

<h3 style="margin-top:15px;">Devenez testeur</h3>
<h6 style="font-style:italic;">- Et dites-nous ce que vous pensez de nos produits -</h6>

<div class="container mt-5">
  <p>Je souhaite tester :</p>
</div>

<div class="container">
  <div class="row justify-content-md-center mt-4">
    <div class="col col-lg-3">
      <div class="card border-warning" style="min-height:5rem;">
        <div class="card-body">
          <p class="card-text">Un club</p>
          <a href="/" class="btn btn-warning text-dark rounded"><i class="fas fa-angle-double-right"></i></a>
        </div>
      </div>
    </div>
  </div>

  <div class="row justify-content-md-center mt-4">
    <div class="col col-lg-3">
      <div class="card border-warning" style="min-height:5rem;">
        <div class="card-body">
          <p class="card-text">Du textile</p>
          <a href="/" class="btn btn-warning text-dark rounded"><i class="fas fa-angle-double-right"></i></a>
        </div>
      </div>
    </div>
    <div class="col col-lg-3">
      <div class="card border-warning" style="min-height:5rem;">
        <div class="card-body">
          <p class="card-text">Un accessoire</p>
          <a href="/" class="btn btn-warning text-dark rounded"><i class="fas fa-angle-double-right"></i></a>
        </div>
      </div>
    </div>
  </div>
</div>

</div>

{% endblock %}
